<div class="shade">
	<div class="blackboard">
		<div class="form">
			<p>
				<label>Num 1: </label>
				<input [(ngModel)]='num1' type="number" name="num1">
			</p>
			<p>
				<label>Num 2: </label>
				<input [(ngModel)]='num2' type="number" name="num2">
			</p>
			<p class="wipeout" style="font-size:10px">
				<input type="button" value="Sum" (click)='sum()' />
				<input type="button" value="Diff" (click)='diff()' />
				<input type="button" value="Mult" (click)='mult()' />
				<input type="button" value="Div" (click)='div()' />
			</p>
			<p>
				<label>Resultat: {{result}}</label>
			</p>
		</div>
	</div>
</div>
