<form #myForm="ngForm" (ngSubmit)="editRocket()">
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input class="form-control" type="text" name="nom" [(ngModel)]="rocket.nom" required #nom="ngModel">
    </div>
    <div [hidden]="nom.valid || nom.pristine">
        le nom est obligatoire
    </div>
    <div class="form-group">
        <label for="annee_fab">Annee fabrication:</label>
        <input class="form-control" type="text" name="annee_fab" [(ngModel)]="rocket.annee_fab" required #annee_fab="ngModel"> 
    </div>
    <div [hidden]="annee_fab.valid || annee_fab.pristine">
        l'annee de fabrication est obligatoire
    </div>
    <div class="form-group">
        <label for="organisation">Organisation:</label>
        <input class="form-control" type="text" name="organisation" [(ngModel)]="rocket.organisation" required #organisation="ngModel"> 
    </div>
    <div [hidden]="organisation.valid || organisation.pristine">
        l'organisation' est obligatoire
    </div>
    <div class="form-group">
        <label for="destination">Destination:</label>
        <input class="form-control" type="text" name="destination" [(ngModel)]="rocket.destination" required #destination="ngModel"> 
    </div>
    <div [hidden]="destination.valid || destination.pristine">
        la destination est obligatoire
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!myForm.valid">
            Ajouter
        </button>
    </div>
</form>
